---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Header from "../../components/Header.astro";
import plumBlossom from "../../images/plum-blossom.jpg";
import { Image } from "astro:assets";
---

<Layout title="中国花">
  <main>
    <h1>
      中国的国花是 <span class="text-gradient">梅花</span>
    </h1>
    <Image src={plumBlossom} alt="plum blossom" width={700} />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
