---
import { Image } from "astro:assets";
import { type Flower } from "../lib/directus";

interface Props {
  flower: Flower;
}
const { flower } = Astro.props;
const directusApi = import.meta.env.PUBLIC_DIRECTUS_API;
---

<a class="flower-item-container" href={`flower/${flower.slug}`}>
  <Image
    src={`${directusApi}/assets/${Astro.props.flower.image}`}
    alt="ahha"
    width={200}
    height={200}
    class="flower-image"
  />
  <p>{Astro.props.flower.name}</p>
</a>

<style>
  .flower-item-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-image: var(--accent-gradient);
    text-align: center;
    border-radius: 10%;
    color: black;
    font-size: 1rem;
    max-width: 200px;
    text-decoration: none;
  }
  .flower-image {
    border-radius: 10% 10% 0 0;
  }
</style>
