---
import HeaderCard from "./HeaderCard.astro";
---

<div class="header-container">
  <HeaderCard title="Accueil" href="/" />
  <HeaderCard title="Mes Fleurs Préferées" href="/flowers" />
  <HeaderCard title="A propos" href="/about" />
</div>

<style>
  .header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid rgba(var(--accent-light), 25%);
    margin: 0px;
    height: 15vh;
  }
</style>
